@model SRS.Models.ViewModel.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="~/Content/img/logo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("Login", "Home"))
        {
            <span id="reauth-email" class="reauth-email"></span>
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control", placeholder = "Email address" })
            <br />
            @*<input type="email" id="inputEmail" class="form-control" placeholder="Email address">*@
            @Html.TextBoxFor(c => c.Password, new { @class = "form-control", placeholder = "Password",type="password" })
            <br />
            @Html.ValidationMessageFor(c=>c.Error)
            
            //< input type="password" id="inputPassword" class="form-control" placeholder="Password">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        }

    </div><!-- /card-container -->
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


